<!-- Images Menu Module - Gives the user various options within the extraction program -->
<div class="container">
<div id="images-menu"  style="display:none">
  <div class="btn-group" role="group" aria-label="...">
    <button id="select-all" class="btn btn-default disabled">Select All <i class="fa fa-check-square-o"></i></button>
    <button type="button" id ="save" class="btn btn-default disabled">Save Image <i class="fa fa-floppy-o"></i></button>
    <button id="delete" data-toggle="modal" data-target="#delete-modal" class="btn btn-default disabled">Delete Image <i class="fa fa-trash"></i></button>
    <button id="stop" class="btn btn-default">Stop Scan <i class="fa fa-hand-paper-o"></i></button>
    <a href="/extractor" id="rescan" class="btn btn-default" style="display:none">Restart Scan <i class="fa fa-refresh"></i></a>
    <a href="/logout" id="logout" class="btn btn-default">Sign Out <i class="fa fa-sign-out"></i></a>
  </div>
  <hr />
</div>
</div>
