<!-- Extract - Displays all extracted images from the user's gmail account -->
{% extends "main.html" %}
{% block body %}
<div class="row">
  <div class="alert status">
  </div>
  <div class="download-link alert" style="display: none">
  </div>
  <div class="progress" style="display: none">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0">
    </div>
  </div>
  {% module ImageMenu() %}
    <div class="results container">
  </div>
        <nav>
        <ul class="pager">
          <li><a class="action prev" href="#" rel="next">Previous Page</a></li>
          <li><a class="action next" href="#" rel="next">Next Page</a></li>
        </ul>
      </nav>
  <div>
    {% module ImageModal("image-modal") %}
    {% module DeleteModal("delete-modal") %}
  </div>
</div>
{% end %}
