{% extends "main.html" %}

{% block body %}
<div class="text-center">
</br>
</br>
</br>
<div style="background-color:#F2F2F2;" class="panel panel-default">
<div class="panel-body">
    <div style="font-family: 'Montserrat', sans-serif; font-size: 2vw;"> <!--{{site_description}}-->
      <i>Instantly view, erase, and backup images from your Gmail account.</i></div></br>
    <div> <img style="max-width:100%;" src="/static/assets/img/preview.gif"> </div>
  </br>
    <a href="/login" class="btn btn-lg btn-block btn-danger" role="button">Begin</a>
    </div>
    </div>
  </div>
{% end %}
