<!DOCTYPE html>
<html>
  <head>
    <title> {{site_name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/extractor.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <h1> <!--{{site_name}}--> </h1>
          <img height="25%" width="25%" src="/static/assets/img/Image-Extractor.png"/>
      </header>
      <div id="main">
        <div id="content" class="row">
          {% block body %}{% end %}
        </div>
      </div>
      <footer>
        <div id="footer">
          {% block footer %}
          <div class="row">
            <!-- footer goes here -->
            <div class="text-center">
              <a href="https://github.com/bradleygolden/gmail-image-extractor" target="_blank">
              <i class="fa fa-5x fa-github"></i><span style="display:block;">Source Code</span></div>
            </a>
          </div>
          {% end %}
        </div>
      </footer>
    </div>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="static/assets/js/circle-progress.js"></script>
      <script type="text/javascript">
      var url = "<script src='static/assets/js/gmailextractor.js'><//script>";
      if( window.location.pathname == '/extractor')
        $('body').append($(url));
      </script>
  </body>
</html>
